@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');


html {
  scroll-behavior: smooth;

}

.fade-in {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}
.fade-in.visible {
  opacity: 1;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global Styles */
body {
  background-color: #1E2125;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove fixed margins and use flexible units */
.intro, .aboutIntro, .aboutIntros, .aboutIntross {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.profile {
  margin: 0 auto;
  display: block;
  width: 80%;
  max-width: 200px;
}

/* Ensure images do not overflow */
.imgIntro, .slideshow-container img {
  width: 100%;
  height: auto;
}

/* Adjust slideshow-container and content widths */
.slideshow-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.text {
  padding: 8px 12px;
}

/* Responsive Media Queries */
@media only screen and (max-width: 480px) {
  .introName {
    font-size: 30px;
  }

  .aboutMe, .project, .skillset figcaption {
    font-size: 28px;
    margin: 20px 0;
  }

  .aboutIntro, .aboutIntros, .aboutIntross, .pros {
    font-size: 18px;
    margin: 0 20px;
  }

  .skillset {
    flex-direction: column;
    align-items: center;
  }

  .column {
    width: 100%;
    margin-bottom: 20px;
  }

  li a {
    padding: 14px 20px;
  }
}

/* Adjust other specific styles */
@media only screen and (max-width: 768px) {
  .imgIntro {
    width: 100%;
    height: auto;
    margin-top: -120px;
  }

  .slideshow-container {
    margin-top: -50px;
  }

  .aboutIntro, .aboutIntros, .aboutIntross {
    width: 90%;
    margin: 0 auto;
    font-size: 18px;
  }

  .pros {
    width: 100%;
    margin: 20px 0;
  }

  li a {
    padding: 14px 20px;
  }

  .intro {
    margin: 50px 20px;
  }
}

